<!DOCTYPE HTML>
<html>
  <head>
    <title>Boat Mechanics Zack Is The Coolest</title>
  </head>
  <body>
    <center>
      Stop value is: {{ session['stop'] }} <br>
      {% if session['M1'] %}
      Motor 1 Speed: {{ session['M1'] }}
      <br>
      {% endif %}
      {% if session['M2'] %}
      Motor 2 Speed: {{ session['M2'] }}
      <br>
      {% endif %}
      Please select motor speed: 
      <form action="" method="post">
      MOTOR 1:
	<p><input type=text name="M1">
	  <br>
      MOTOR 2: 
	<p><input type=text name="M2">
	<p><input type=submit value="Set Params">
      </form>
      <form method='post' action=''><input type='submit' name='stop' value='Toggle On/Off'></input></form>
      {% if session['error'] %}
      <p> Invalid Motor Input </p>
      {% endif %}
    </center>
 </body>
</html>

