  <!DOCTYPE HTML>
  <html><head><title>Boat Mechanics Zack Is The Coolest</title>
  <style>
  table,th,td
  {
  border:1px solid black
  }
  </style></head>
  <body><center>Please select motor speed: </center>

  <center>MOTOR 1:
  <table>
  <tr>
  <td><form method='get' action='/0/0'><input type='submit' name='M1_0' value='0%'></input></form></td>
  <td><form method='get' action=''><input type='submit' name='M1_20' value='20%'></input></form></td>
  <td><form method='get' action=''><input type='submit' name='M1_40' value='40%'></input></form></td>
  <td><form method='get' action=''><input type='submit' name='M1_60' value='60%'></input></form></td>
  <td><form method='get' action=''><input type='submit' name='M1_80' value='80%'></input></form></td>
  <td><form method='get' action=''><input type='submit' name='M1_100' value='100%'></input></form></td>
  </tr>
  </table>
  MOTOR 2: 
  <table>
  <tr>
  <td><form method='get' action=''><input type='submit' name='M2_0' value='0%'></input></form></td>
  <td><form method='get' action=''><input type='submit' name='M2_20' value='20%'></input></form></td>
  <td><form method='get' action=''><input type='submit' name='M2_40' value='40%'></input></form></td>
  <td><form method='get' action=''><input type='submit' name='M2_60' value='60%'></input></form></td>
  <td><form method='get' action=''><input type='submit' name='M2_80' value='80%'></input></form></td>
  <td><form method='get' action=''><input type='submit' name='M2_100' value='100%'></input></form></td>
  </tr>
  </table>

  <br>
  <table>
  <tr>
  <td><form method='get' action=''><input type='submit' name='forward' value='Excelsior!'></input></form></td>
  <td><form method='get' action=''><input type='submit' name='stop' value='stop'></input></form></td>
  <td><form method='get' action=''><input type='submit' name='reverse' value='reverse'></input></form></td>
  </tr>
  </table>
  </html>

